* {
    font-family: "Fredoka", sans-serif;
}

.home-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
}

h1{
    color: azure;
    display: block;
    margin: 0 auto;
    font-weight: 500;
}

h2{
    color: azure;
    font-weight: 500;
}

.activity-grid,
.mood-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.activity-card {
  background: #595b65;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: azure;
  min-height: 70px;

  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.activity-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.605);
}

.activity-overlay h3 {
  display: flex;
  align-self: center;
  justify-self: center;
}

.mood-card {
  border-radius: 16px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: azure;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
    font-weight: 500;
}

.activity-card:hover {
  transform: scale(1.03);
}

.activity-card:hover,
.mood-card:hover,
.generate-btn:hover {
  box-shadow:
    0 0 10px azure;
}

.activity-card.selected,
.mood-card.selected {
  border: 2px solid azure;
}

.create {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
  padding: 2rem;
}

.selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview div {
  border-radius: 24px;
  min-height: 450px;
  padding: 2rem;
  color: white;
  max-width: 92%;
}

.preview-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-text h2{
    font-size: 2.5rem;
}

.preview-text p{
    font-size: 1.25rem;
}

.generate-btn{
    margin: 1rem auto;
    padding: 1rem;
    background: radial-gradient(
        circle,
        #7285ff 0%,
        #ff65fa 100%
    );
    border: none;
    border-radius: 100px;
    max-width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
    box-shadow:
        0 4px 15px rgba(0,0,0,.25);
}